body {
    background-color: #000;
    color: #fff;
    font-family: 'Press Start 2P', monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    image-rendering: pixelated; 
    font-size: 10px; 
}

.game-container {
    width: 90%;
    max-width: 600px;
    border: 4px solid #fff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-height: 400px;
}

.enemy-area {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.boss-img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.battle-box {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.dialogue-box {
    border: 2px solid #fff;
    padding: 10px;
    height: 60%;
    overflow-y: auto;
    margin-bottom: 10px;
}

#dialogues {
    margin: 0;
    border: 3px solid #fff;
    color: #fff; 
    width: 100%;
    box-sizing: border-box; 
    background-color: #000;
    font-family: 'Press Start 2P';
    padding: 5px;
}

.action-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#sansDialogueBox {  
    color: #fff; 
    width: 100%;
    box-sizing: border-box; 
    background-color: #000;
    font-family: 'Press Start 2P';
    padding: 10px;
    margin-bottom: 10px;
}
.player-stats p {
    margin: 0;
    color: #fff;
}
#hp {
    color: #ff0000; 
}

.menu-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 60%;
}

.menu-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 0;
    font-family: 'Press Start 2P', monospace;
    cursor: pointer;
    transition: background-color 0.1s;
    font-size: 10px;
    text-align: center;
}

.menu-btn:hover {
    background-color: #fff;
    color: #000;
}
.typewrter {
  display: inline-block;
  overflow: hidden;           
  white-space: nowrap;       
  letter-spacing: 0.05em;
  animation: typing 2s steps(40, end);
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.fight-btn { color: #ff0000; border-color: #ff0000; }
.mercy-btn { color: #00ffff; border-color: #00ffff; } 
.fight-btn:hover { background-color: #ff0000; color: #fff; }
.mercy-btn:hover { background-color: #00ffff; color: #000; }
